{% load static %}
<meta charset="UTF-8">
    <title>Emre Kirik - Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS DOSYTALARI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/navbar1.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">


    <!-- JS DOSYTALARI -->
    <script src="{% static 'js/base3.js' %}"></script>
    <script src="{% static 'js/base4.js' %}"></script>