{% load static %}
<html>
<head>
    {% include "blog/header.html" %}
</head>
<body translate="no">
    <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="/">Blog</a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>
    
    <div style="height: 1000px">
        {% block detail %}
        {% block home %}
        {% endblock home %}
        {% endblock detail %}
    </div>
    {% include "blog/footer.html" %}
</body>
</html>
